.container1 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

h1 {
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.container2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#addList {
    font-size: x-large;
    background-color: rgb(113, 255, 113);
    border-style: hidden;
    font-weight: bold;
    height: 45px;
    width: 300px;
}

#addList:hover {
    background-color: rgb(95, 217, 95);

}