.container1, .container2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

h1 {
    font-size: 60px;
    font-family:'Trebuchet MS';
}

#addlist {
    font-size: x-large;
    background-color: rgb(113, 255, 113);
    border-style: hidden;
    height: 45px;
    width: 200px;
}

#addlist:hover {
    background-color: rgb(95, 217, 95);

}

input {
    height: 30px;
    display: block;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    border-color: black;
    margin-bottom: 10px;
}

p {
    font-family:'Trebuchet MS';
    text-align: center;
}

